@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
}
/* header  */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem 40px;
  background-color: #3867d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  height: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.header .logo h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.header.head {
  background-color: white;
}
.sticky {
  background-color: white;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.logo img {
  cursor: pointer;
}


#menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.navbar a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
  transition: 0.5s ease;
  display: inline-block;
}
.navbar a {
  color: white;
}

.navbar a.active {
  background-color: white;
  color: #3867d6;
}


.header .sale-btn {
  color: white;
  padding: 5px 15px;
  border-radius: 12px;
  cursor: pointer;
}

.mobile-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem 40px;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 80px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.mobile-header .mobile-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}

.mobile-header .mobile-header-text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobile-header .mobile-header-text h2 {
  color: #3867d6 !important;
  font-size: 30px;
  font-weight: 700;
}
.mobile-header .mobile-header-container .menu-icon{
   color: #536c79;
   height: 40px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.mobile-header .mobile-header-container .menu-icon i {
    font-size: 20px;
}


/* main-section */

.main{
    background-color:#567dd7 ;
    /* background-color: #F8FBFF; */
}
.container {
    padding: 10rem 40px 0 40px;
}
.main .main-header-content{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.main .main-header-content h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.main .main-header-content h1{
    padding: 30px 0 ;
    font-size: 2.5rem;
    font-weight: 500;
}
.main .main-header-content p{
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 400;
}
.main .main-header-demo-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main .main-header-demo-buttons a{
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 14px;


}
.main .main-header-demo-buttons .demo-btn{
    margin: 5px;
    box-shadow: 0px 5px 25px -3px #3867d6;
    color: #3867d6;
    background-color: white;
    cursor: pointer;
}
.main .main-header-demo-buttons .demo-btn:hover{
    color: white;
    background-color: #3867d6;
}
.main .main-header-demo-buttons .doc-btn{
    margin: 5px;
    box-shadow: 0px 5px 25px -3px #3867d6;
    color: white;
    background-color: #3867d6;
    cursor: pointer;
}


.main .main-header-content-img{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.main .main-header-content-img img{
    width: 100%;
}

.demo{
    background-color: white;
}
.demo .demo-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.demo .demo-header-content h3{
    color: #3867d6;
    font-size: 20px;
}
.demo .demo-header-content p{
    color: #678898;
    margin: 10px 0;
    font-size: 12px;
}
.demo .demo-header-content .line{
    background-color: #3867d6;
    width: 80px;
    height: 2px;
    margin-top: 15px;
}
.demo .demo-dashboard .dashboard-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
}
.demo .demo-dashboard .dashboard-header h5{
    color: #536c79;
    font-size: 1.5rem;
    font-weight: 800;
}
.text-theme{
    color: #3867d6;
    margin-bottom: 10px;
}
.demo .demo-dashboard-container{
    display: flex;
    justify-content: center;

}
.demo .demo-dashboard-container .demo-dash-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 25%; */
    margin-left: 20px;
    box-shadow: 0px 0px 20px -4px #c2cfd6;
}

.demo .demo-dashboard-container .demo-dash-card img{
    width: 100%;
    height: 50%;
}
.demo .demo-dashboard-container .demo-dash-card .text-theme{
    font-size: 1rem;
    margin-top: 5px;
}

.demo .demo-dashboard-container .demo-dash-card-container{
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo .demo-dash-card-container .card-btn{
    background-color: #3867d6;
    box-shadow: 0px 5px 25px -3px #3867d6;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    margin-top: 15px;
    cursor: pointer;

}
 .demo-apps{
    margin-top: 20px;
}

.demo .demo-apps .dashboard-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
}
.demo .demo-apps .dashboard-header h5{
    color: #536c79;
    font-size: 1.5rem;
    font-weight: 800;
}

.screen-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .screen-header-content h3{
    color: #3867d6;
    font-size: 20px;
}
 .screen-header-content p{
    color: #678898;
    margin: 10px 0;
    font-size: 12px;
}
 .screen-header-content .line{
    background-color: #3867d6;
    width: 80px;
    height: 2px;
    margin-top: 15px;
}

.swiper {
    width: 600px;
    height: 300px;
    margin: 40px 0;
  }

  .swiper-slide{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }


  .features{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .features .container{
    width: 100%;
  }
  .features-header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
   .features-header-content h3{
    color: #3867d6;
    font-size: 20px;
}
 .features-header-content p{
    color: #678898;
    margin: 10px 0;
    font-size: 12px;
}
.features-container{
  margin-top: 20px;
}
 .features-header-content .line{
    background-color: #3867d6;
    width: 80px;
    height: 2px;
    margin-top: 15px;
}

.features-cards{
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin-top: 20px;
}
.features-cards .features-card{
  background-color: white;
  box-shadow: 0px 0px 20px -4px #c2cfd6;
  border-left: 1px solid #3867d6;
  margin: 10px;
  padding: 15px;
}
.features-cards .features-card i{
  color: #3867d6;
  font-size: 20px;
}
.features-cards .features-card h5{
  color: #29363d;
  font-size: 22px;
  margin: 10px 0;
}
.features-cards .features-card p{
  font-size: 18px;
  margin: 15px 0;
  color: #536c79;
}
.features .features-btn{
  display: flex;
justify-content: center;
margin: 40px 0;
}
.features .features-btn a{
  background-color: #3867d6;
  box-shadow: 0px 5px 25px -3px #3867d6;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
}
.features .features-btn a:hover{
  background-color:#2456cd ;
}
.pricing{
  padding: 2rem 40px;
}
.pricing .pricing-container{
  background-color: #2456cd;
  border: 1px solid;
}









@media screen  and (max-width:1100px){
    .navbar a{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 990px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
    padding: 2rem 20px;
  }
  .demo .demo-dashboard-container{
    flex-direction: column;    
}
.demo .demo-dashboard-container .demo-dash-card{
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
}

.features-cards{
  grid-template-columns: repeat(2,auto);
}

  
}


@media screen and (max-width:480px) {
    .main .main-header-demo-buttons{
        flex-direction: column;
    }
    
}

/* main section */

/* services section */
